%font-sans
{
	font-family: 'Open Sans', sans-serif, Arial;
}

%font-titulo 
{
	font-family: 'Open Sans', sans-serif, Arial;
}

$branco: rgba(255,255,255,1);
$branco-50: rgba(255,255,255,0.50);
$preto: rgba(0,0,0,1);
$preto-5: rgba(0,0,0,0.05);
$preto-25: rgba(0,0,0,0.25);
$preto-50: rgba(0,0,0,0.50);
$preto-90: rgba(0,0,0,0.90);
$cinza-fundo: #eeeeee;
$cinza-footer: rgba(#848484,1);
$vermelho: rgba(#db0000,1);
$min-width: 120px;
$maincolor: #6BBE92;  
$secondarycolor: #3E8760;
$max-width: 1090px;
$width: 100%;